nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
}


#nav-list {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

li {
    font-size: 1.5rem;
}

